@import "antd/dist/antd.css";

body {
  background: linear-gradient(#8a65be, black);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo {
  background-color: "gray";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  float: left;
  padding: 50px;
}

.profilePhoto {
  background-color: "gray";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  float: left;
  padding: 50px;
  margin-left: 5%;
}

.nameAndAge {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.age {
  margin-left: 1rem;
}

.ant-modal-body, 
.ant-modal-footer {
  background-color: linear-gradient(#8a65be, black);
}

/**
* Changed font-size from 1.5vw to a new method to
* calculate font size based on the link:
* https://css-tricks.com/font-size-viewport-units/
* 1.5vw was too small for mobile
*/
h2,
h3,
h4,
p,
span,
.ant-btn.ant-btn-primary > span,
.ant-form-item-label > label,
.ant-typography,
h1.ant-typography,
.ant-typography h1 {
  color: white;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

.ant-message-custom-content.ant-message-error > span,
.ant-select-selection-item {
  color: black;
}

.anticon.anticon-close-circle:first-child {
  color: red;
}

.ant-btn > span {
  color: black;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}

.container {
  margin: 2rem;
  padding-bottom: 5rem;
  font-family: "gothambold";
}

.userName {
  margin: 2rem;
  padding-bottom: 5rem;
  font-family: "gothambold";
}

.container h5,
h3,
h2 {
  color: #e8bffb;
  font-family: "gothambold";
}

.column-flex {
  display: flex;
  flex-direction: column;
}

#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}

.ant-form-item-control-input-content
  > .ant-upload-picture-card-wrapper.avatar-uploader,
.form-btns > div > div > div {
  display: flex;
  justify-content: center;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

@media screen and (min-width: 701px) {
  .avatar-uploader > .ant-upload {
    width: 80%;
    height: 500px;
  }
  .form-btns > div > div > div {
    flex-direction: column;
    align-items: center;
  }
  .form-btns > div > div > div > button {
    width: 14%;
    margin-top: 1rem;
  }
}

/* Phone screens in portrait view */
@media screen and (max-width: 768px) {
  .profilePhoto {
    height: 13vh;
    width: 13vh;
    border-radius: 50%;
    margin-top: 5%;
  }

  .photo {
    height: 13vh;
    width: 13vh;
    border-radius: 50%;
  }

  .userInfo {
    display: grid;
    grid-template-rows: 30px 30px 30px;
    font-size: calc(10px + 1.7vmin);
    font-family: "gothambold";
    color: white;
    padding-left: 5%;
    padding-top: 5%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container h3,
  h2 {
    color: #e8bffb;
    font-family: "gothambold";
    font-size: calc(10px + 1.7vmin);
  }

  .container span,
  .deleteTxt p {
    font-size: calc(10px + 0.5vmin);
  }
}

/* Larger screens like laptops */
@media screen and (min-width: 768px) {
  .profilePhoto {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    margin-top: 5%;
  }

  .photo {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
  }

  .userInfo {
    display: grid;
    grid-template-rows: 60px 60px 60px;
    font-size: calc(10px + 2vmin);
    font-family: "gothambold";
    color: white;
    padding-left: 5%;
    padding-top: 7%;
  }

  .pic {
    display: flex;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container h3,
  h2 {
    color: #e8bffb;
    font-family: "gothambold";
    font-size: calc(10px + 1.7vmin);
  }

  .container span,
  .deleteTxt p {
    font-size: calc(10px + 1vmin);
  }
}
