@import "antd/dist/antd.css";

body {
  background-color: black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo {
  background-color: "gray";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
}

h1,
h2,
h3,
h4,
p,
span,
.ant-descriptions-title {
  color: white;
}

.ant-btn > span {
  color: black;
}

.ant-btn.ant-btn-primary > span {
  color: white;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

.container {
  margin: 1rem;
  padding-bottom: 5rem;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.ant-typography-secondary {
  color: white;
}

.edit-page {
  margin: 0px;
  color: white;
}
