<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427264670490-e6npqifoqfdemaebfc3rvm182tijn43o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427264670490-e6npqifoqfdemaebfc3rvm182tijn43o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427264670490-jjef1kpkjusoro5nchjn797k31vm5ngp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQyn4Thny0ybaXD7p6Nmqymrsvkg5Ccbk</string>
	<key>GCM_SENDER_ID</key>
	<string>427264670490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jho.YouDate</string>
	<key>PROJECT_ID</key>
	<string>youdate</string>
	<key>STORAGE_BUCKET</key>
	<string>youdate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427264670490:ios:d7d1d1e5cb9485f1ad4aa3</string>
	<key>DATABASE_URL</key>
	<string>https://youdate.firebaseio.com</string>
</dict>
</plist>